@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: none;
  zoom: 1;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

/* ------- Latin ------- */
/* ------- Colors ------- */
:root {
  --color: #FFF8DF;
  --background-color: #F2D7BF;
  --shadow: #DBBA92;
  --button-background-color: #FFF8DF;
  --moon-button-background-color: #231E5A;
  --dark: #030217;
  --sun-button-background-color: #ADD3FF;
  --sun-button-shadow: #569BEB;
  --moon-light: #EBF0E1;
  --moon-dark: #BCC1B2;
  --moon-crater-light: #DADFD0;
  --moon-crater-dark: #A4AB96;
  --sun-outside: #FFE9B1;
  --green: #A0C633;
  --hearts: #ff7373;
  --max-width: 700px;
}

/* ------- Default ------- */
html {
  height: 100%;
  font-family: 'Baloo 2', cursive;
}

body {
  height: 100%;
  margin: 0;
  color: var(--color);
  background: var(--background-color);
}

body, html {
  height: 100%;
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.container {
  margin: auto;
  position: relative;
  padding: 20px;
  max-width: var(--max-width);
}

button.btn {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 25px;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Baloo 2', cursive;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button.btn:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  cursor: pointer;
}

button.btn:focus {
  outline: none;
}

button.btn:active {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav .score-container {
  width: 50%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.nav p.score {
  font-size: 20px;
  color: var(--dark);
  float: left;
  margin-top: 10px;
}

.bonus {
  position: absolute;
  top: 40px;
  left: 0;
}

p.bonus {
  font-size: 20px;
}

.nav .menu {
  width: 50%;
}

.nav .menu button {
  display: block;
  float: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button.special-btn {
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  font-size: 30px;
  line-height: 30px;
  background: none;
  visibility: hidden;
  position: absolute;
  z-index: 999999;
  background: #fff;
  border: none;
  border-radius: 100%;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 14px 11px 10px;
}

button.special-btn:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

button.special-btn:focus {
  outline: none;
}

button.special-btn:active {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.avatar-container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  width: 200px;
  height: 200px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.avatar {
  font-size: 100px;
  text-align: center;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 40px;
}

.dog {
  font-size: 40px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.vacation {
  font-size: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gifts {
  font-size: 35px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bubble {
  margin-top: 50px;
}

.speech-bubble {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  padding: 15px;
  color: #000;
  font-size: 15px;
  text-align: center;
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.7);
  border-bottom: 0;
  margin-left: -15px;
  margin-bottom: -15px;
}

.icons-container {
  background: rgba(255, 255, 255, 0.2);
  margin-top: 25px;
  border-radius: 15px;
  text-align: center;
  padding: 0 10px 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.icons {
  display: inline-block;
  width: 73px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
}

.icons button {
  cursor: pointer;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border: none;
  font-size: 30px;
  background: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.icons button:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.icons button:focus {
  outline: none;
}

.icons button:active {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.icons .name {
  font-size: 12px;
  color: var(--button-background-color);
}

.icons .progress {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 5px;
}

.icons .progress .bar {
  width: 50%;
  height: 6px;
  background-color: var(--green);
  border-radius: 15px;
}

.icons .num {
  font-size: 20px;
  margin-top: 5px;
}

/* Animatons bubbles */
.circles li {
  z-index: -99999;
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: circles 35s linear infinite;
          animation: circles 35s linear infinite;
  bottom: -150px;
  border-radius: 100%;
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circles li:nth-child(1) {
  left: 75%;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  background: rgba(255, 255, 255, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circles li:nth-child(2) {
  left: 30%;
  width: 22px;
  height: 22px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 9s;
          animation-duration: 9s;
  background: rgba(255, 255, 255, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circles li:nth-child(3) {
  left: 80%;
  width: 19px;
  height: 19px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background: rgba(255, 255, 255, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circles li:nth-child(4) {
  left: 10%;
  width: 55px;
  height: 55px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
  background: rgba(255, 255, 255, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circles li:nth-child(5) {
  left: 75%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background: rgba(255, 255, 255, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circles li:nth-child(6) {
  left: 25%;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background: rgba(255, 255, 255, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circles li:nth-child(7) {
  left: 45%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  background: rgba(255, 255, 255, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circles li:nth-child(8) {
  left: 60%;
  width: 29px;
  height: 29px;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  background: rgba(255, 255, 255, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circles li:nth-child(9) {
  left: 30%;
  width: 18px;
  height: 18px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-duration: 14s;
          animation-duration: 14s;
  background: rgba(255, 255, 255, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.circles li:nth-child(10) {
  left: 55%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background: rgba(255, 255, 255, 0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes circles {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}

@keyframes circles {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}

/* The Menu Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
}

/* Modal Content/Box */
.modal-content {
  background: var(--background-color);
  margin: 15% auto;
  border-radius: 15px;
  width: 90%;
  text-align: center;
  padding: 20px 25px 25px;
  max-width: var(--max-width);
}

/* The Close Button */
.modal-content .close-btn {
  color: var(--sun-button-shadow);
  float: right;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-content img {
  width: 185px;
  margin: 0 auto;
  margin-top: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-content p.best-score {
  font-size: 20px;
  color: var(--dark);
  display: block;
  margin-top: 25px;
}

.modal-content .info {
  margin-top: 25px;
}

.modal-content .options {
  margin-top: 25px;
}

.modal-content p.version,
.modal-content p.author {
  font-size: 15px;
  color: var(--dark);
  display: block;
}

.modal-content p.author a {
  color: var(--sun-button-shadow);
}

.options button {
  display: block;
  margin: 10px auto 0;
  width: 150px;
  -webkit-box-shadow: 2px 5px var(--shadow);
          box-shadow: 2px 5px var(--shadow);
  font-size: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal-settings .avatar-settings {
  font-size: 100px;
  text-align: center;
}

.modal-settings label {
  font-size: 15px;
  color: var(--dark);
  display: block;
}

.modal-settings input {
  border: 3px solid var(--sun-button-shadow);
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Baloo 2', cursive;
  text-align: center;
  margin-top: 10px;
}

.modal-settings input:focus {
  outline: none;
  border: 3px solid var(--sun-button-shadow);
}
